<div class="card">
    <div class="card-body">
    <form novalidate
    (ngSubmit)="checkData()"
    [formGroup]="LoginForm">
    <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label">User Name</label>
    <div class="col-md-8">
    <input class="form-control"
    id="username" type="text"
    placeholder="Name (required)" formControlName="userName" [(ngModel)]='Email'/>
    </div>
    </div>
    
    <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label"
    for="productCodeId">Password</label>
    <div class="col-md-8">
    <input class="form-control"
    id="password" type="password"
    placeholder="password" formControlName="password" [(ngModel)]='password'/>
    </div>
    </div>
    
    <div class="form-group row mb-2">
    <div class="offset-md-2 col-md-4">
    <button class="btn btn-primary mr-3"
    style="width:80px;"
    type="submit">
    Sign In
    </button>
    </div>
    </div>
    </form>
    </div>
    </div>
    